{% extends 'base.html.twig' %}

{% block title %}Connexion - JDR en ligne
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<br>
		<h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>

		<label for="inputUsername">Nom d'utilisateur</label>
		<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
		<label for="inputPassword">Mot de passe</label>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<br>
		<button class="btn btn-lg btn-primary" type="submit">
			Connexion
		</button>
		<a class="btn btn-lg btn-primary" href="{{ path('app_register') }}">inscription</a>

	</form>
{% endblock %}
